@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Google Sans";
    src: local("Google Sans Medium"), local("GoogleSans-Medium"),
        url("fonts/GoogleSans-Medium.woff2") format("woff2"),
        url("fonts/GoogleSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    src: local("Google Sans Bold"), local("GoogleSans-Bold"),
        url("fonts/GoogleSans-Bold.woff2") format("woff2"),
        url("fonts/GoogleSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    /* @apply bg-slate-950; */
    @apply bg-gray-900;
    /*CHANGE THIS STUFF TO IN COMPONENT STYLING*/
    color: white;
    font-family: "Google sans";
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* background: rgba(112,0,255,.75); */
    background: rgba(59,130,246,.75);
    opacity: .5;
    border-radius: 1rem;
    -webkit-transition: all .2s;
    transition: all .2s;
}

::-webkit-scrollbar-thumb:hover { 
    /* background: rgba(112,0,255,1); */
    background: rgba(59,130,246,1);
}

.progress-bar{
    height: 0.2rem;
}

.section-container {
    @apply 2xl:container xl:px-20 md:px-12 px-4 mx-auto;
}

.menu-visible{
    visibility: visible;
    opacity:1;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.menu-hidden{
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.menu-button-open{
    opacity: 1;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.menu-button-close{
    opacity: 1;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.menu{
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    
}
 